In [7]:
import json
import requests
import pandas as pd

In [8]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=XLV&outputsize=full&apikey=Y8YQFOIVHPA381U4'

In [9]:
response = requests.get(url)
xlv_file = response.json()
xlv_values = xlv_file['Time Series (Daily)']

In [10]:
for value in xlv_values:
    open_prices = []

In [11]:
df = pd.DataFrame(xlv_values)
xlv_df = df.T
column_head = ['open', 'high', 'low', 'close', 'volume']
xlv_df.columns = column_head
xlv_df.head()

                open      high       low     close   volume
2019-12-10   99.6900  100.0200   99.2950   99.8150  1165879
2019-12-09  100.4500  100.4700   99.7100   99.7100  5008359
2019-12-06  100.2700  100.7500  100.2000  100.4100  5658514
2019-12-05   99.8100   99.9000   98.9100   99.7500  7390352
2019-12-04   99.2300   99.8800   99.1300   99.7500  6237642

In [12]:
xlv_df.reset_index(inplace = False)
xlv_df['index'] =

           index      open      high       low     close   volume
0     2019-12-10   99.6900  100.0200   99.2950   99.8150  1165879
1     2019-12-09  100.4500  100.4700   99.7100   99.7100  5008359
2     2019-12-06  100.2700  100.7500  100.2000  100.4100  5658514
3     2019-12-05   99.8100   99.9000   98.9100   99.7500  7390352
4     2019-12-04   99.2300   99.8800   99.1300   99.7500  6237642
...          ...       ...       ...       ...       ...      ...
5029  1999-12-14   29.5300   29.8300   29.5300   29.7500    16000
5030  1999-12-13   29.6900   29.9500   29.6900   29.6900    10700
5031  1999-12-10   30.2500   30.2500   29.7700   29.8900    18800
5032  1999-12-09   29.8300   30.1300   29.8300   30.0800    12100
5033  1999-12-08   29.4100   29.7300   29.4100   29.6300    38900

[5034 rows x 6 columns]

In [16]:
type(xlv_df['close'][0])

str

In [17]:
xlv_df['open'][-1]

'29.4100'