In [139]:
import json
import requests
import pandas as pd

## Load XLV API 
#### Create percent change column

In [140]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=XLV&outputsize=full&apikey=Y8YQFOIVHPA381U4'

In [141]:
response = requests.get(url)
xlv_file = response.json()

In [142]:
xlv_values = xlv_file['Time Series (Daily)']

In [143]:
for value in xlv_values:
    open_prices = []

In [148]:
df = pd.DataFrame(xlv_values)
xlv_df = df.T
column_head = ['open', 'high', 'low', 'close', 'volume']
xlv_df.columns = column_head
xlv_df.reset_index(inplace = True)

In [149]:
xlv_df['open'] = xlv_df.open.astype(float)
xlv_df['high'] = xlv_df.high.astype(float)
xlv_df['low'] = xlv_df.low.astype(float)
xlv_df['close'] = xlv_df.close.astype(float)
xlv_df['volume'] = xlv_df.volume.astype(float)

In [150]:
xlv_df['day_pct_change'] = (xlv_df['close']-xlv_df['open'])/xlv_df['open']*100

In [151]:
for entry in xlv_df:
    pct_change = (xlv_df['close'] - xlv_df['open'].iloc[-1])/xlv_df['open'].iloc[-1]
    xlv_df['overall_pct_change'] = pct_change * 100

In [183]:
xlv_df.tail()

,index,open,high,low,close,volume,day_pct_change,overall_pct_change
5029,1999-12-14,29.53,29.83,29.53,29.75,16000.0,0.745005,1.156069
5030,1999-12-13,29.69,29.95,29.69,29.69,10700.0,0.000000,0.952057
5031,1999-12-10,30.25,30.25,29.77,29.89,18800.0,-1.190083,1.632098
5032,1999-12-09,29.83,30.13,29.83,30.08,12100.0,0.838082,2.278137
5033,1999-12-08,29.41,29.73,29.41,29.63,38900.0,0.748045,0.748045

## Load S&P API

In [172]:
url_sp = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=.INX&outputsize=full&apikey=Y8YQFOIVHPA381U4'

In [176]:
response2 = requests.get(url_sp)
sp_file = response2.json()

In [178]:
sp_values = sp_file['Time Series (Daily)']
sp_df = pd.DataFrame(sp_values)
sp_df = sp_df.T
sp_df.columns = column_head
sp_df['open'] = sp_df.open.astype(float)
sp_df['high'] = sp_df.high.astype(float)
sp_df['low'] = sp_df.low.astype(float)
sp_df['close'] = sp_df.close.astype(float)
sp_df['volume'] = sp_df.volume.astype(float)

In [179]:
sp_df['day_pct_change'] = (sp_df['close']-sp_df['open'])/sp_df['open']*100

In [180]:
for entry in sp_df:
    pct_change = (sp_df['close'] - sp_df['open'].iloc[-1])/sp_df['open'].iloc[-1]
    sp_df['overall_pct_change'] = pct_change * 100

In [181]:
sp_df.head()

,open,high,low,close,volume,day_pct_change,overall_pct_change
2019-12-10,3135.3601,3142.1201,3126.0901,3138.4199,5.478405e+08,0.097590,113.606936
2019-12-09,3141.8601,3148.8701,3135.4600,3135.9600,3.345990e+09,-0.187790,113.439510
2019-12-06,3134.6201,3150.6001,3134.6201,3145.9099,3.479480e+09,0.360165,114.116719
2019-12-05,3119.2100,3119.4500,3103.7600,3117.4299,3.355750e+09,-0.057069,112.178315
2019-12-04,3103.5000,3119.3799,3102.5300,3112.7600,3.695030e+09,0.298373,111.860473

In [182]:
sp_df.tail()

,open,high,low,close,volume,day_pct_change,overall_pct_change
2000-01-07,1403.45,1441.47,1400.7300,1441.47,1.225200e+09,2.709038,-1.890761
2000-01-06,1402.11,1411.90,1392.1000,1403.45,1.092300e+09,0.095570,-4.478475
2000-01-05,1399.42,1413.27,1377.6801,1402.11,1.085500e+09,0.192222,-4.569678
2000-01-04,1455.22,1455.22,1397.4301,1399.42,1.009000e+09,-3.834472,-4.752765
2000-01-03,1469.25,1478.00,1438.3600,1455.22,9.318000e+08,-0.954909,-0.954909